<nb-card>
  <nb-card-header>
   <h2>Crear reservacion</h2>
  </nb-card-header>

  <nb-card-body>
    <div>

      <div class="row">
        <div class="col-lg-6">
          <h4>Person</h4>
          <ngx-munily-status-selector
            formControlName="status"
            [options]="users"
            [label]="'Persona'">
          </ngx-munily-status-selector>
        </div>

        <div class="col-lg-6">
          <h4>Area</h4>
          <ngx-munily-status-selector
            formControlName="status"
            [options]="areas"
            [label]="'Area'">
          </ngx-munily-status-selector>
        </div>

      </div>

      <br> <br> <br>

      <div class="row" *ngFor="let event of events; let index = index">
        <div class="col-lg-6">
          <h4 class="text-center">Hora de entrada</h4>
          <div class="mx-auto" style="width: 220px;">
            <ngx-utils-date-time-picker
              [(ngModel)]="event.start"
              (ngModelChange)="refresh.next()"
              placeholder="Not set">
            </ngx-utils-date-time-picker>
          </div>
        </div>

        <div class="col-lg-6">
          <h4 class="text-center">Hora de salida</h4>
          <div class="mx-auto" style="width: 220px;">
            <ngx-utils-date-time-picker
              [(ngModel)]="event.end"
              (ngModelChange)="refresh.next()"
              placeholder="Not set">
            </ngx-utils-date-time-picker>
          </div>
        </div>
      </div>

      <br>
    </div>

  </nb-card-body>
</nb-card>
