<nb-card>
  <nb-card-header>
    <span *ngIf="isNew">Crear Area</span>
    <span *ngIf="!isNew">Area: {{currentArea.name}}</span>
    <a class="close float-right" aria-label="Close" [routerLink]="['/munily/areas/list']">
      <span aria-hidden="true">&times;</span>
    </a>
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="areaForm" novalidate autocomplete="nope">

      <div class="row">
      <div class="col-lg-6">
        <input type="text" placeholder="Nombre" class="form-control"
               [ngClass]="{'form-control-danger': areaForm.get('name').invalid}"
               formControlName="name"/>
      </div>

      <div class="col-lg-3">
          <ngx-munily-status-selector formControlName="isBookable" [options]="['Reservable','No reservable']" [label]="'Es Reservable?'"></ngx-munily-status-selector>
        </div>

        <div class="col-lg-3">
            <ngx-munily-status-selector formControlName="status" [options]="['Disponible','En mantenimiento', 'Clausurada']" [label]="'Status'"></ngx-munily-status-selector>
          </div>
      </div>

      <!--<div class="col-lg-12">
        <input type="time" atp-time-picker value="20:55" theme="dark" arrowStyle="{'background': 'red', 'color': 'white'}"/>
      </div>-->

      <div class="col-lg-12 text-center" style="margin-top:20px">

        <button type="button" [disabled]="submitted || !areaForm.valid" class="btn btn-hero-success"
                [class.btn-pulse]="submitted"
                (click)="saveSwal.show()">
          <span *ngIf="isNew">Guardar</span>
          <span *ngIf="!isNew">Actualizar</span>
        </button>

        <swal
          #saveSwal
          title="Deseas {{isNew? 'Crear' : 'Actualizar'}} este aviso?"
          type="question"
          [showCancelButton]="true"
          [focusCancel]="true"
          [options]="{ confirmButtonText: isNew? 'Guardar': 'Actualizar' }"
          (confirm)="onSubmit($event, areaForm)"></swal>

      </div>

    </form>
  </nb-card-body>
</nb-card>
