<nb-card>
  <nb-card-header>
    Reservaciones
  </nb-card-header>

  <nb-card-body>

    <button (click)="onCalendar()"_ngcontent-c12="" class="btn btn-hero-primary btn-demo">Calendario</button>
    <br><br>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (create)="onCreate($event)"
      (delete)="onRejected($event)"
      (edit)="onAproved($event)">
    </ng2-smart-table>

    <swal
      #deleteSwal
      title="Deseas rechazar esta reservacion?"
      type="warning"
      [showCancelButton]="true"
      [focusCancel]="false"
      [options]="{ confirmButtonText: 'Rechazar' }"
     >
    </swal>  <swal
    #deletedSwal
    title="Area eliminada"
    type="success"
    [options]="{ confirmButtonText: 'Aceptar' }">
  </swal>
  </nb-card-body>
</nb-card>
