@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {

  .dropdown, .dropup, .btn-group {
    margin-bottom: 1rem;
  }

  nb-card-body {
    overflow: visible;
  }

  .input-group {
    margin-bottom: 1rem;
  }

  button[type='button'] {
    margin-top: 1rem;
  }

  @include media-breakpoint-down(xs) {
    button:not(.btn-icon) {
      padding: 0.75rem 1rem;
      font-size: 0.75rem;
    }
  }

  .input-group {
    .input-group-btn {
      .btn {
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
        padding: 0.91rem 1.125rem !important;
      }
    }
  }
}
