<div class="row">
  <div class="col-lg-12">
    <nb-card *ngIf="loaded">
      <nb-card-header>
        <span *ngIf="isNew">Nuevo Usuario</span>
        <span *ngIf="!isNew">Aviso {{currentUser.displayName}}</span>
        <a class="close float-right" aria-label="Close" [routerLink]="['/munily/users/list', userType]">
          <span aria-hidden="true">&times;</span>
        </a>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="userForm" novalidate autocomplete="nope">
          <div class="row">
            <div class="col-lg-7">
              <div class="input-group">
                <input type="text" placeholder="Nombre Completo" class="form-control"
                       [ngClass]="{'form-control-danger': userForm.get('displayName').invalid}"
                       formControlName="displayName"/>
              </div>
              <div class="input-group">
                <input type="email" placeholder="Correo" class="form-control"
                       [ngClass]="{'form-control-danger': userForm.get('email').invalid}"
                       formControlName="email"/>
              </div>
              <div class="input-group">

                <input type="text" placeholder="Contraseña" class="form-control"
                       [ngClass]="{'form-control-danger': userForm.get('password').invalid}"
                       formControlName="password" [disabled]="true"/>
                <span class="input-group-btn">
            <button class="btn btn-danger" (click)="onGeneratePassword()">
              Generar
            </button>
          </span>

              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">

              <button type="button" [disabled]="submitted || !userForm.valid" class="btn btn-hero-success"
                      [class.btn-pulse]="submitted"
                      (click)="saveSwal.show()">
                <span *ngIf="isNew">Guardar</span>
                <span *ngIf="!isNew">Actualizar</span>
              </button>

              <swal
                #saveSwal
                title="Deseas {{isNew? 'Crear' : 'Actualizar'}} este aviso?"
                type="question"
                [showCancelButton]="true"
                [focusCancel]="true"
                [options]="{ confirmButtonText: isNew? 'Guardar': 'Actualizar' }"
                (confirm)="onSubmit($event, userForm)"></swal>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
