<agm-map [latitude]="latitude"
         [longitude]="longitude"
         [scrollwheel]="false"
         [zoom]="zoom"
          (mapClick)="mapEventHandler($event)">
  <agm-marker [latitude]="latitude"
              [longitude]="longitude"></agm-marker>
</agm-map>
