<div class="row">
  <div class="col-md-3" [hidden]="emptyContacts">
    <nb-card class="inline-form-card list">
      <nb-card-header>Contactos</nb-card-header>
      <nb-card-body>
        <ul class="list-group" *ngIf="contacts">
          <li *ngFor="let contact of contacts" class="list-group-item" [ngClass]="{'is-active': contact.uid == currentChat.contact.uid}">
            <div (click)="getMyChatWithContact(contact.uid, contact.name + ' ' + contact.lastname)" class="activeMode">
              <nb-user [name]="contact?.name + ' ' + contact?.lastname" [picture]="contact?.profilePicURL || 'assets/images/default-person.jpg'" ></nb-user>
            </div>
          </li>
        </ul>
      </nb-card-body>
    </nb-card>
  </div>
  <div [ngClass]="emptyContacts ? 'col-md-12' : 'col-md-9'">
    <nb-card class="inline-form-card list">
      <nb-card-header>{{ selectedContact ? currentChat.contact.name : 'Mensajes' }}</nb-card-header>
      <nb-card-body>
        <form [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm)">

          <div class="chat-box">

            <div class="white-box text-center chat-list-msg-box" [hidden]="selectedContact">
              <h4 [hidden]="emptyContacts" class="chat-list-msg">Seleccione un usuario de su lista de contactos</h4>
              <h4 [hidden]="!emptyContacts" class="chat-list-msg">No tiene contactos... <a [routerLink]="['/munily/users/list/user']">agregar inquilino</a></h4>
            </div>

            <ol class="chat-list" *ngIf="messages" #scrollChat [scrollTop]="scrollChat.scrollHeight">
              <li *ngFor="let message of messages" class="chat-list-item"> <!-- if rol == admin => align right -->

                <div class="chat-message-title">
                  <b [ngClass]="user.uid == message.myUserId ? 'chat-user-name' : 'chat-contact-name'">
                    {{ user.uid === message.myUserId ? 'Yo' : currentChat.contact.name }}
                  </b>
                  <i [ngClass]="user.uid == message.myUserId ? 'chat-user-time' : 'chat-contact-time'">
                      {{ message.createdAt | date: 'dd/MM/yy hh:mm' }}
                  </i>
                </div>

                <div class="chat-message-body">
                  <p>{{ message.message }}</p>
                </div>
              </li>
            </ol>

            <div class="row" [hidden]="!selectedContact">
              <div class="col-sm-12">
                <div class="input-group input-group-lg ">
                  <input [ngClass]="{'form-control-success': messageForm.get('message').invalid}" formControlName="message"
                         name="message" type="text" #newMessage placeholder="Escriba su mensaje aquí..." class="form-control send-box"/>
                </div>
                <div class="send">
                  <button [disabled]="submitted || !messageForm.valid" type="submit" class="btn btn-success btn-with-icon btn-chat">
                    <i class="nb-paper-plane"></i>
                    <span>Enviar</span>
                  </button>
                </div>
              </div>
            </div>
          </div>

        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
