@import '../../@theme/styles/themes';

@include nb-install-component() {

  .list-group-item {
    font-size: 2rem;
    color: nb-theme(color-fg);
    background-color: nb-theme(color-bg);
    transition: color ease-out 0.1s;

    &:hover {
      color: nb-theme(color-fg-heading);
    }
  }

  .list {
    height: 75vh;
  }

  .chat-list {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    // max-height: 300px;
    height: 42vh;
    overflow: hidden;
    overflow-y: scroll;
  }

  .chat-list-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .chat-user-name {
    float: right;
    color: nb-theme(color-primary);
  }

  .chat-contact-name {
    float: left;
    color: nb-theme(color-success);
  }

  .chat-user-time {
    float: left;
    padding-right: 16px;
    font-size: 0.8rem;
  }

  .chat-contact-time {
    float: right;
    padding-right: 16px;
    font-size: 0.8rem;
  }

  .chat-message-title {
    font-size: 1rem;
    padding: 16px;
  }

  .chat-message-body {
    position: relative;
    display: block;
    padding: 0.8rem;
    margin: 10px;
    background-color: nb-theme(color-bg);
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  .send-box {
    margin-left: 30px;
    margin-right: 25px;
  }

  .is-active {
    // background-color: nb-theme(form-control-border-color);
    border: 2px solid nb-theme(color-success);
  }

  .chat-list-msg {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
  }

  .chat-list-msg-box {
    line-height: 60vh;
    height: 60vh;
    text-align: center;
  }

}

.btn-chat {
  float: right;
  margin-top: 25px;
  margin-right: 25px;
}
