<div class="form-group">
  <label for="inputAddress">Dirección</label>
  <input type="text"
         id="inputAddress"
         name="address"
         placeholder="Escribe una dirección"
         autocorrect="off"
         autocapitalize="off"
         spellcheck="off"
         [(ngModel)]="location.address"
         #search>
</div>
<agm-map [latitude]="location.latitude"
         [longitude]="location.longitude"
         [scrollwheel]="false"
         [zoom]="zoom"
         (mapClick)="mapClick($event)">

  <agm-marker [latitude]="location.latitude"
              [longitude]="location.longitude"></agm-marker>
</agm-map>
