<nb-card>
  <nb-card-header>
    Edificios
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="listTableSettings"
                     [source]="buildingsSource"
                     (create)="createPressed()"
                     (edit)="onEdit($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
