<nb-layout windowMode>
  <nb-layout-header fixed>
    <ngx-header></ngx-header>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar"
              tag="menu-sidebar"
              responsive>

    <ng-content select="nb-menu"></ng-content>

    <nb-sidebar-footer>
      <small><strong>Munily</strong> © 2017</small>
    </nb-sidebar-footer>
  </nb-sidebar>

  <nb-layout-column class="main-content">
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <ngx-footer></ngx-footer>
  </nb-layout-footer>
</nb-layout>
