@import 'themes';
@import '../../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../../../node_modules/@nebular/theme/styles/global/bootstrap/breakpoints';

@mixin nb-user-theme() {
  ngx-user {

    font-size: nb-theme(user-font-size);
    line-height: nb-theme(user-line-height);

    .user-picture {
      height: nb-theme(user-size-medium);
      width: nb-theme(user-size-medium);
      background: nb-theme(user-bg);
      border: solid 2px nb-theme(user-fg-highlight);

      &.background {
        color: nb-theme(user-fg);
      }
    }

    .user-name {
      font-family: nb-theme(user-font-family-secondary);
    }

    &.inverse {
      .user-picture {
        background: nb-theme(user-fg);

        &.background {
          color: nb-theme(user-bg);
        }
      }
    }

    &.small {
      .user-picture {
        height: nb-theme(user-size-small);
        width: nb-theme(user-size-small);
        font-size: 80%;
      }
    }
    &.medium {
      .user-picture {
        height: nb-theme(user-size-medium);
        width: nb-theme(user-size-medium);
      }
    }
    &.large {
      .user-picture {
        height: nb-theme(user-size-large);
        width: nb-theme(user-size-large);
      }
    }
    &.xlarge {
      .user-picture {
        height: nb-theme(user-size-xlarge);
        width: nb-theme(user-size-xlarge);
      }
    }

    .user-context-menu {
      border: 2px solid nb-theme(user-menu-border);
      background: nb-theme(user-menu-bg);

      ul > li > a {
        color: nb-theme(user-menu-fg);

        @include hover-focus-active {
          color: nb-theme(user-menu-active-fg);
          background: nb-theme(user-menu-active-bg);
          text-decoration: none;
        }
      }

      ul > li.arrow {
        border-bottom: 11px solid nb-theme(user-menu-border) !important;

        &::after {
          border-bottom: 11px solid nb-theme(user-menu-bg) !important;
        }
      }
    }
  }
}
