// themes - our custom or/and out of the box themes
@import 'themes';
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
// loading progress bar theme
@import './pace.theme';
@import './user.component.theme';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~angular-calendar/scss/angular-calendar.scss';
@import '~@ng-select/ng-select/themes/default.theme.css';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();

  .swal2-popup {
    .swal2-title {
      color: nb-theme(swal2-title-color);
    }
    .swal2-content {
      color: nb-theme(swal2-content-color);
    }
    .swal2-actions {
      .btn {
        margin-right: 5px;
      }
    }
  }

  .menu-item {
    border-bottom: 1px solid nb-theme(separator) !important;
    i {
      &.menu-icon.fa {
        font-size: 1.6rem;
        color: transparent !important;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: nb-theme(color-fg);
      }
    }
    a {
      padding: 0.675rem 1rem 0.675rem 0.75rem !important;
      border-radius: 0.375rem !important;
      &:hover {
        i {
          &.menu-icon.fa {
            color: transparent !important;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: nb-theme(color-fg-heading);
          }
        }
      }
    }
  }
}
