// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  font-main: Roboto,
  font-secondary: Exo,
  icon-stroke-color: #a4abb3,
  icon-stroke-color-hover: #2a2a2a,
  swal2-title-color: #000000 !important,
  swal2-content-color: rgba(0, 0, 0, 0.75) !important,
), default, default);

$nb-themes: nb-register-theme((
  color-bg: #1eb0f4,
  color-bg-active: #1eb0f4,
  color-fg: #bceef4,
  color-fg-heading: #ffffff,
  color-fg-text: #b1e2f4,
  color-fg-highlight: #00f9a6,

  color-primary: #7659ff,
  color-success: #00d977,
  color-info: #0088ff,
  color-warning: #ffa100,
  color-danger: #ff386a,

  separator: #02476a,
  shadow: 0 8px 20px 0 rgba(30, 176, 244, 0.6),

  card-header-font-weight: font-weight-bolder,

  layout-bg: #001f2f,

  scrollbar-fg: #05cdf4,
  scrollbar-bg: #0f4b77,

  radial-gradient: radial-gradient(circle at 50% 50%, #1476a3, #0e4f6e),
  linear-gradient: linear-gradient(to right, #083245, #126991),

  form-control-bg: #0f5779,
  smart-table-bg-even: #16a2f4,

  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  font-main: Roboto,
  font-secondary: Exo,
  swal2-title-color: #ffffff !important,
  swal2-content-color: rgba(255, 255, 255, 0.75) !important,
), cosmic, cosmic);
