<input
  ngDefaultControl
  [attr.multiple]="multiple? '' : null"
  [accept]="accept"
  type="file"
  #imageInput
  (blur)="onBlur()"
  hidden/>

<a (click)="selectFile()" class="d-flex justify-content-center">
  <i class="fa fa-camera align-self-center"></i>
  <ng-content *ngIf="!fileCount" select=".nofiles"></ng-content>
  <ng-content *ngIf="fileCount" select=".selected"></ng-content>
  <ng-content select=".messages"></ng-content>
</a>
