:host:not(.file-input-disabled) {
  cursor: pointer;
}

input {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.filename {
  display: inline-block;
}

.fa {
  color: rgba(255, 255, 255, 0.5);
  font-size: 4em;
  position: absolute;
  height: (4 * 16) * 1px;
  width: (4 * 16) * 1px;
}

a {
  position: relative;
}
