<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">M<span>unily</span></div>
  </div>

  <ngx-theme-switcher></ngx-theme-switcher>

</div>

<nb-actions
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  <nb-action *ngIf="authService.user | async as user">
    <ngx-user [menu]="userMenu"
              [name]="'PH Mystik Hills'"
              [title]="user?.displayName"
              [picture]="user?.photoURL || 'assets/images/default-person.jpg'"></ngx-user>
  </nb-action>
  <nb-action class="control-item" icon="fa fa-building"></nb-action>
  <nb-action class="control-item" icon="nb-email"></nb-action>
</nb-actions>
