<div class="row">
  <div class="col-lg-12">
    <nb-card *ngIf="loaded">
      <nb-card-header>
        <span *ngIf="isNew">Nuevo Aviso</span>
        <span *ngIf="!isNew">Aviso {{currentNotice.title}}</span>
        <a class="close float-right" aria-label="Close" [routerLink]="['/munily/notices/list']">
          <span aria-hidden="true">&times;</span>
        </a>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="noticeForm" novalidate autocomplete="nope">
          <div class="row">
            <div class="col-lg-5">
              <ngx-munily-image-selector
                [accept]="'image/*'"
                (onFileSelect)="onFileSelect($event)"
                formControlName="files">
                <span class="nofiles">
                  <img [src]="image || 'assets/images/cover2.jpg'" class="img-fluid rounded">
                </span>
                <span class="selected">
                  <img [src]="image || 'assets/images/cover2.jpg'" class="img-fluid rounded">
                </span>
              </ngx-munily-image-selector>
            </div>
            <div class="col-lg-7">
              <div class="input-group">
                <input type="text" placeholder="Titulo" class="form-control"
                       [ngClass]="{'form-control-danger': noticeForm.get('title').invalid}"
                       formControlName="title"/>
              </div>
              <ngx-munily-status-selector
                formControlName="status"
                [options]="['Creado','Publicado', 'Archivado', 'Borrado']"
                [label]="'Status'"></ngx-munily-status-selector>

              <div class="input-group">
                <textarea rows="6" placeholder="Mensaje" class="form-control "
                          [ngClass]="{'form-control-danger': noticeForm.get('message').invalid}"
                          formControlName="message"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">

              <button type="button" [disabled]="submitted || !noticeForm.valid" class="btn btn-hero-success"
                      [class.btn-pulse]="submitted"
                      (click)="saveSwal.show()">
                <span *ngIf="isNew">Guardar</span>
                <span *ngIf="!isNew">Actualizar</span>
              </button>

              <swal
                #saveSwal
                title="Deseas {{isNew? 'Crear' : 'Actualizar'}} este aviso?"
                type="question"
                [showCancelButton]="true"
                [focusCancel]="true"
                [options]="{ confirmButtonText: isNew? 'Guardar': 'Actualizar' }"
                (confirm)="onSubmit($event, noticeForm)"></swal>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
