<div class="dropdown" ngbDropdown>
  <button class="btn btn-primary" type="button" ngbDropdownToggle>
    {{newLabel}}
  </button>
  <ul class="dropdown-menu" ngbDropdownMenu>
    <li class="dropdown-item" *ngFor="let option of options" (click)="onOptionSelected(option)">
      {{option}}
    </li>
  </ul>
</div>
