<nb-card>
  <nb-card-header>
    List of Areas
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (create)="onCreate($event)"
      (delete)="onDelete($event)"
      (edit)="onSave($event)">
    </ng2-smart-table>
  </nb-card-body>

  <swal
    #deleteSwal
    title="Deseas eliminar esta area?"
    type="warning"
    [showCancelButton]="true"
    [focusCancel]="false"
    [options]="{ confirmButtonText: 'Borrar' }"
    (confirm)="removeArea()">
  </swal>

  <swal
    #deletedSwal
    title="Area eliminada"
    type="success"
    [options]="{ confirmButtonText: 'Aceptar' }">
  </swal>


</nb-card>
