<nb-card>
  <nb-card-header>
    Crear edificio
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="buildingForm" novalidate autocomplete="nope">
      <!-- Main Info -->
      <div class="row align-items-center">
        <div class="col">
          <div class="form-group">
            <label for="inputName">Nombre</label>
            <input type="text"
                   class="form-control"
                   id="inputName"
                   placeholder="Nombre"
                   formControlName="name"
                   [ngClass]="{'form-control-danger': buildingForm.get('name').invalid}">
          </div>
          <div class="form-group">
            <label for="inputDetails">Descripción</label>
            <textarea
              rows="5"
              id="inputDetails"
              placeholder="Número de pisos, número de habitantes, etc."
              class="form-control"
              formControlName="details"
              [ngClass]="{'form-control-danger': buildingForm.get('details').invalid}"></textarea>
          </div>
          <div class="form-group">
            <nb-checkbox formControlName="isActive">Activo</nb-checkbox>
          </div>
        </div>
        <div class="col-4">
          <ngx-munily-image-selector
            (onFileSelect)="onFileSelect($event)"
            formControlName="files">
            <span class="nofiles">
                  <img [src]="buildingImage || 'assets/images/cover2.jpg'" class="img-fluid rounded">
                </span>
            <span class="selected">
                  <img [src]="buildingImage || 'assets/images/cover2.jpg'" class="img-fluid rounded">
                </span>
          </ngx-munily-image-selector>
        </div>
      </div>
      <!-- Location and admins -->
      <div class="row">
        <div class="col">
          <ngx-munily-search-map></ngx-munily-search-map>
        </div>
        <div class="col align-self-stretch">
          <div class="form-group">
            <label for="inputAdmins">Administradores</label>
            <select multiple class="form-control" id="inputAdmins" formControlName="admins">
              <option>Item 1</option>
              <option>Item 2</option>
              <option>Item 3</option>
              <option>Item 4</option>
              <option>Item 5</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <button type="button" class="btn btn-hero-success">
            <span>Guardar</span>
          </button>
        </div>
      </div>
    </form>


    <pre>
      <code>
        {{buildingForm.value | json}}
      </code>
    </pre>
  </nb-card-body>
</nb-card>
