<nb-card>
  <nb-card-header>
    Avisos
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (create)="onCreate($event)"
      (delete)="onDelete($event)"
      (edit)="onSave($event)">
    </ng2-smart-table>
  </nb-card-body>

  <swal
    #deleteSwal
    title="Deseas Borrar este aviso?"
    text="Esta acción no puede ser deshecha"
    type="question"
    [showCancelButton]="true"
    [focusCancel]="true"
    [options]="{ confirmButtonText: 'Borrar' }"
    (confirm)="removeNotice()">
  </swal>

  <swal
    #deletedSwal
    title="Aviso Borrado"
    type="success"
    [options]="{ confirmButtonText: 'Aceptar' }">
  </swal>
</nb-card>
